.picker-showcase {
    min-height: 100%;

    &-option {
        height: 80px;
        line-height: normal;
    }

    &-token-icon {
        border-radius: 50%;
    }

    &-option-name {
        line-height: 1.2;
    }
}
