.droplet-loading {
    --droplet-loading-size: 300px;
    --droplet-loading-dot-size: 56px;
    --droplet-loading-shadow-size: 30px;
    --droplet-loading-gradient: linear-gradient(to right, #50D6FC, #1989F5);

    display: block;
    width: var(--droplet-loading-size);
    height: var(--droplet-loading-size);
    flex: 0 0 var(--droplet-loading-size);

    &--small {
        --droplet-loading-size: 40px;
        --droplet-loading-dot-size: 8px;
        --droplet-loading-shadow-size: 4px;
    }

    &__filter {
        width: 0;
        height: 0;
    }

    &__inner {
        position: relative;
        width: var(--droplet-loading-size);
        height: var(--droplet-loading-size);
        filter: var(--droplet-loading-filter);
    }

    &__dot {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        animation: droplet-loading-rotate 3s ease-in-out infinite;
        animation-delay: calc(0.2s * var(--i));

        &::before {
            position: absolute;
            top: 0;
            left: calc(50% - var(--droplet-loading-dot-size) / 2);
            width: var(--droplet-loading-dot-size);
            height: var(--droplet-loading-dot-size);
            content: "";
            background-image: var(--droplet-loading-gradient);
            border-radius: 50%;
            box-shadow: 0 0 var(--droplet-loading-shadow-size) #152535;
        }
    }
}

@keyframes droplet-loading-rotate {
    0% {
        transform: rotate(0deg);
    }

    50%,
    100% {
        transform: rotate(360deg);
    }
}
