.app-card{
    background-color: var(--app-card-bg);
    padding: 30px;
    border-radius: 20px;
}
.app-row-card{
    background-color: var(--app-card-bg);
    padding: 20px;
    border-radius: 10px;
}